{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            welcome to boilerplate
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/app.js') }}"></script>
{% endblock %}