{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            test
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/test.js') }}"></script>
{% endblock %}
